.booking__wrap {
  background-color: $white;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 0 18px;
}

.booking__button-wrap {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 0 18px;
}

.booking__header {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  padding: 0 5px;
  margin: 0 0 23px 0;
  text-align: center;
}

.booking__info {
  margin: 0 auto 32px auto;
  max-width: 261px;
  text-align: center;
}

.booking__button {
  display: block;
  text-decoration: none;
  padding: 16px 49px;
  margin: 0 0 49px 0;
}

@media (min-width: $tablet-width) {
  .booking__wrap {
    max-width: 435px;
    margin: 0 auto;
    padding: 0;
  }

  .booking__button-wrap {
    max-width: 460px;
    margin: 0 auto;
    padding: 0;
  }

  .booking__header {
    font-size: 30px;
    margin: 0 0 32px 0;
  }

  .booking__button {
    padding: 16px 121px;
    margin: 0 0 58px 0;
  }

  .booking__info {
    margin: 0 auto 40px;
    max-width: 435px;
  }
}

@media (min-width: $desktop-width) {
  .booking__button {
    margin: 0 0 66px 0;
  }

  .booking__header {
    margin: 0 0 30px 0;
  }

  .booking__info {
    margin: 0 auto 46px;
  }
}
