.booking {
  background-color: $white;
  text-align: center;
}

.booking__header {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;
}

.booking__button {
  text-decoration: none;
}
