.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  background-color: $main-color;
  text-transform: uppercase;
  border: none;
  width: 100%;
}

.button:hover,
.button:focus {
  background-color: $main-color-hover;
}

.button:active {
  background-color: $main-color-active;
  color: rgba(255, 255, 255, 0.3);
}
