.features {
  text-transform: uppercase;
}

.features__picture {
  display: flex;
  width: 100%;
}

.features__list {
  list-style: none;
  margin: 0 0 38px 0;
  padding: 0;
}

.features__item-wrap {
  display: flex;
  flex-direction: column;
}

.features__item-2 {
  .features__item-wrap {
    display: flex;
    flex-direction: column;
  }

  .features__picture {
    order: 2;
  }

  .features__wrap--devil {
    order: 1;
  }
}

.features__wrap {
  margin: 0 auto;
  padding: 51px 0 39px 0;
  align-self: center;
}

.features__wrap--devil {
  padding: 40px 0 36px 0;
}

.features__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.features__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  margin: 0 0 10px 0;
  padding: 0;
}

.features__subitem-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  padding: 0;
  align-self: center;
  text-align: left;
  margin: 0;
}

.features__number {
  display: block;
  margin: 0 0 15px 0;
}

.features__number--gray {
  margin: 0 0 19px 0;
}

.features__item {
  text-align: center;
}

.features__item--gray {
  background-color: $main-background;
}

.features__item:first-child {
  position: relative;
  overflow: hidden;
}

.features__triangle-img {
  width: 100%;
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translateX(-50%);
}

.features__text {
  margin: 0 5px;
  padding: 0;
}

.features__item--photo {
  background-color: $main-color;
  color: $white;
}

.features__item--photo .features__header {
  color: $white;
}

.features__sublist {
  list-style: none;
  padding: 25px 0 52px 0;
  background-color: $white;
  color: $main-font;
}

.features__subitem {
  padding: 0 20px;
  margin: 0 0 22px 0;
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 40px 1fr;
  column-gap: 8px;
  row-gap: 10px;

  &:last-child {
    margin: 0;
  }
}

.features__subitem-text {
  grid-column: 2;
  text-align: left;
  margin: 0;
}

.features__item--gray-wrap {
  padding: 24px 0 24px 0;
  margin: 0 18px 0 18px;
}

.features__item--gray-line {
  border-bottom: solid 1px $feature-border;
}

@media (min-width: $tablet-width) {
  .features__list {
    margin: 0 0 61px 0;
  }

  .features__header {
    font-size: 21px;
  }

  .features__wrap--town {
    padding: 10px 32px 10px 32px;
  }


  .features__item--gray-line {
    border-bottom: unset;
  }

  .features__item:first-child {
    position: static;
    overflow: hidden;
  }

  .features__triangle-img {
    display: none;
  }

  .features__item-1 {
    grid-area: feature1;
  }

  .features__item-sub {
    grid-area: feature-sub;
  }

  .features__item-2 {
    grid-area: feature2;
  }

  .features__item-3 {
    grid-area: feature3;
  }

  .features__item-4 {
    grid-area: feature4;
  }

  .features__item-5 {
    grid-area: feature5;
  }

  .features__list {
    display: grid;
    grid-template-areas:
      "feature1 feature1 feature1"
      "feature-sub feature-sub feature-sub"
      "feature2 feature2 feature2"
      "feature3 feature4 feature5";
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__sublist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: baseline;
  }

  .features__subitem {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px 36px;
    margin: 0;
    min-height: 330px;
    justify-content: center;
  }

  .features__subitem-header {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 21px;
  }

  .features__subitem-text {
    text-align: center;
    margin: 0 auto;
  }

  .features__subitem-text--housing {
    max-width: 185px;
  }

  .features__subitem-text--food {
    max-width: 180px;
  }

  .features__subitem-text--souvenirs {
    max-width: 193px;
  }

  .features__promo-photo {
    align-self: center;
    width: 75px;
    height: 72px;
    margin: 0 0 16px 0;
  }

  .features__item-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .features__wrap {
    margin: 0 auto;
    padding: 10px 32px 10px 32px;
    grid-column: 1/1;
  }

  .features__picture {
    height: 100%;
    grid-column: 2/4;
  }


  .features__item--devil {
    .features__item-wrap--devil {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    .features__wrap--devil {
      grid-column: 3/4;
    }

    .features__picture--devil {
      grid-column: 1/3;
      order: unset;
    }
  }

  .features__header--devil {
    max-width: 150px;
    margin: 0 auto 10px auto;
  }


  .features__item--gray-wrap {
    padding: 41px 0 10px 0;
    min-height: 256px;
    display: flex;
    flex-direction: column;
  }

  .features__number {
    margin: 0 0 26px 0;
  }

  .features__header--gray {
    width: 100%;
    align-self: center;
    max-width: 159px;
  }

  .features__header--square {
    max-width: 125px;
  }

  .features__text--square {
    max-width: 189px;
    align-self: center;
  }

  .features__header--road {
    max-width: 106px;
  }

  .features__text--road {
    max-width: 145px;
    align-self: center;
  }

  .features__header--tourists {
    max-width: 106px;
  }

  .features__text--tourists {
    max-width: 175px;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .features__wrap--town {
    padding: 10px 50px;
    margin: 0 0 15px 0;
  }

  .features__header--town {
    padding: 0 55px;
    margin: 0 0 15px 0;
  }

  .features__number--town {
    margin: 0 0 20px 0;
  }

  .features__text {
    font-size: 12px;
  }

  .features__header--devil {
    max-width: 190px;
  }

  .features__text--devil {
    max-width: 230px;
  }

  .features__subitem {
    row-gap: unset;
  }

  .features__subitem-text {
    margin: 0 auto 25px auto;
  }

  .features__promo-photo {
    margin: 0 0 28px 0;
  }

  .features__subitem--header {
    margin: 0 0 25px 0;
  }

  .features__subitem-text--housing {
    max-width: 282px;
  }

  .features__subitem-text--food {
    max-width: 300px;
  }

  .features__subitem-text--souvenirs {
    max-width: 192px;
  }

  .features__text--square {
    font-size: 14px;
    max-width: 315px;
  }

  .features__text--road {
    font-size: 14px;
    max-width: 275px;
  }

  .features__text--tourists {
    font-size: 14px;
    max-width: 290px;
  }
}
