.feedback__wrap {
  margin: 0 0 56px 0;
}

.feedback__review-wrap {
  padding: 0 20px;
}

.feedback__review {
  background-color: $light-background;
  border: none;
  width: 100%;
  min-height: 150px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $placeholder-font;
  margin: 0 auto;
}

.feedback__review::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $placeholder-font;
}

@media (min-width: $tablet-width) {
  .feedback__wrap {
    max-width: 648px;
    margin: 0 auto 48px auto;
    padding: 0;
  }

  .feedback__review-wrap {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .feedback__wrap {
    max-width: 768px;
  }
}
