.filter {
  margin: 0;
  padding: 0;
}

.filter__list {
  list-style: none;
  margin: 0 0 34px 0;
  padding: 0 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.filter__item {
  margin: 0 0 26px 0;
}

.filter__item:last-child {
  margin: 0;
}

.filter__label {
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding: 10px 0 10px 62px;
}

.filter__item--radio {
  .filter__input+label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 46px;
    height: 46px;
    background-color: $light-background;
    border-radius: 50%;
  }

  .filter__input:checked+label::after {
    content: '';
    position: absolute;
    left: 15px;
    top: 15px;
    width: 16px;
    height: 16px;
    background-color: $black;
    border-radius: 50%;
  }
}

.filter__list--checkbox {
  .filter__input+label::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 46px;
    height: 46px;
    background-color: $light-background;
    border-radius: 4px;
  }

  .filter__input:checked+label::after {
    content: '';
    position: absolute;
    left: 13px;
    top: 15px;
    width: 22px;
    height: 16px;
    background-image: url(../../img/icons/tick.svg);
  }
}

@media (min-width: $tablet-width) {
  .filter__list--checkbox {
    max-width: 480px;
    margin: 0 auto 42px auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
  }

  .filter__item--checkbox {
    min-width: 224px;
    min-height: 46px;
    margin: 0;
  }

  .filter__list--radio {
    max-width: 576px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto 48px auto;
    padding: 0;
  }

  .filter__item--radio {
    min-width: 280px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .filter__list {
    max-width: 960px;
    display: unset;
    gap: unset;
  }

  .filter__list--radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    margin: 28px 53px 56px 53px;
  }

  .filter__list--checkbox {
    display: flex;
    margin: 59px 44px 87px 44px;
    padding: 0;

    .filter__item {
      margin: 0 64px 0 0;
    }

    .filter__item:last-child {
      margin: 0;
    }
  }
}
