.footer {
  background-color: $white;
  text-align: center;
}

.footer__hashteg {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;
}

.footer__social-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer__social-icon {
  background-color: $main-color;
}

.footer__authors {
  display: flex;
  color: $black;
  justify-content: center;
}
