.footer {
  background-color: $white;
  text-align: center;
  text-transform: uppercase;
  padding: 37px 5px 23px 5px;
}

.footer--catalog {
  padding: 28px 5px 23px 5px;
}

.footer__hashtag {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  margin: 0 0 33px 0;
}

.footer__social-list {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer__social-item {
  margin: 0 6px 0 0;
}

.footer__social-item:last-child {
  margin: 0;
}

.footer__social-link {
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  background-color: $main-color;

  &:hover,
  &:focus {
    background-color: $main-color-hover;
  }

  &:active {
    background-color: $main-color-active;

    .footer__social-icon {
      opacity: 0.3;
    }
  }
}

.footer__authors-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: $black;

  &:hover,
  &:focus {
    color: $main-color;
  }

  &:active {
    color: $placeholder-font;
  }
}

.footer__authors-text {
  margin: 0 12px 0 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .footer {
    padding: 36px 0;
  }

  .footer__wrap {
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__hashtag {
    margin: 0;
  }

  .footer__social-list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrap {
    max-width: 960px;
  }
}
