.header {
  background-color: $white;
  text-transform: uppercase;
  position: relative;
  min-height: 56px;
}

.header__logo {
  display: flex;
  justify-content: center;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .header {
    position: relative;
  }

  .header__logo {
    display: block;
    justify-content: unset;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
}
