.hero {
  background-color: $white;
}

.hero__about {
  max-width: 272px;
  margin: 0 auto;
  text-transform: uppercase;
}

.hero__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero__text {
  color: $main-font;
  text-align: center;
  margin: 0;
  padding: 0;
}

.hero__background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: $mark-font;
}

.hero__background-img--short {
  height: 157px;
}

.hero__wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 0 32px 0;
  display: flex;
}

.hero__text-img {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
}

.hero__text-img--short {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero__triangle-img {
  width: 1200px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .hero__wrapper {
    margin: 0 0 47px 0;
  }

  .hero__background-img {
    height: 518px;
  }

  .hero__background-img--short {
    height: 290px;
  }

  .hero__text-img--short {
    width: 457px;
    height: 78px;
  }
}

@media (min-width: $desktop-width) {
  .hero__wrapper {
    margin: 0 0 69px 0;
  }

  .hero__background-img--short {
    height: 301px;
  }

  .hero__text-img--short {
    width: 459px;
    height: 80px;
  }

}
