.intro {
  text-transform: uppercase;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}

.intro__heading {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;
}

.intro__description {
  text-align: center;
  margin: 0;
  color: $main-font;
}

.intro__heading--index {
  max-width: 272px;
  margin: 0 auto 35px auto;
}

.intro__description--index {
  min-width: 272px;
  margin: 0 0 35px 0;
}

.intro__heading--catalog {
  margin: 0 auto 25px auto;
}

.intro__description--catalog {
  max-width: 270px;
  margin: 0 auto 36px auto;
}

.intro__description--form {
  margin: 0 auto 28px auto;
  max-width: 235px;
}

.intro__heading--form {
  margin: 0 auto 24px auto;
}

.intro--presentation {
  margin: 0 auto 38px auto;
}

.intro__heading--presentation {
  margin: 0 auto 27px auto;
}

.intro__description--presentation {
  padding: 0 10px;
}

@media (min-width: $tablet-width) {
  .intro--catalog {
    margin: 0 auto 81px auto;
  }

  .intro__heading--catalog {
    font-size: 30px;
    margin: 0 auto 32px auto;
  }

  .intro__heading--index {
    max-width: 520px;
    margin: 0 auto 30px auto;
    font-size: 21px;
  }

  .intro__heading--form {
    font-size: 30px;
    margin: 0 auto 22px auto;
  }

  .intro__description--index {
    margin: 0 auto 55px auto;
  }

  .intro__description--catalog {
    max-width: 430px;
    margin: 0 auto;
  }

  .intro--presentation {
    margin: 0 auto 90px auto;
  }

  .intro__description--presentation {
    max-width: 443px;
    margin: 0 auto;
    padding: 0;
  }

  .intro__heading--presentation {
    font-size: 30px;
    padding: 0;
    margin: 0 auto 32px auto;
  }

  .intro__description--form {
    max-width: 445px;
    margin: 0 auto 102px auto;
    line-height: 23px;
  }
}

@media (min-width: $desktop-width) {
  .intro__heading--index {
    margin: 0 auto 27px auto;
  }

  .intro__description--index {
    margin: 0 auto 44px auto;
    font-size: 14px;
  }

  .intro__description--form {
    margin: 0 auto 66px auto;
  }

  .intro__heading--form {
    margin: 0 auto 30px auto;
  }

  .intro--presentation {
    margin: 0 auto 89px auto;
  }

  .intro--catalog {
    margin: 0 auto 88px auto;
  }

}
