.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $main-color;
  text-transform: uppercase;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    flex-direction: row;
    background-color: $white;
  }

  .main-nav__link {
    color: $black;
  }

  .main-nav__link--current {
    color: $current-link;
  }
}
