.main-nav {
  background-color: $main-color;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: $white;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    background-color: $white;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item:nth-child(3) {
    margin-left: auto;
  }

  .main-nav__item {
    padding: 18px 28px;
  }

  .main-nav__item:first-child {
    padding: 18px 47px;
  }

  .main-nav__link {
    font-size: 14px;
    line-height: 21px;
    color: $black;
  }

  .main-nav__link--current {
    color: $current-link;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__item {
    padding: 18px 70px;
  }

  .main-nav__item:first-child {
    padding: 18px 91px;
  }
}
