.presentation {
  padding: 17px 0 0 0;
}

@media (min-width: $tablet-width) {
  .presentation {
    max-width: 648px;
    margin: 0 auto 40px auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    max-width: 800px;
    margin: 0 auto 90px auto;
  }
}
