.review {
  margin: 0 auto;
  background-color: $white;
}

.review__block {
  margin: 0;
  border: none;
}

.review__heading {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  border-top: solid 1px $disabled;
  margin: 0 0 20px 0;
  padding: 24px 0 0 0;
}

.review__mark {
  display: flex;
  flex-direction: row-reverse;
  text-transform: uppercase;
  color: $mark-font;
  margin: auto 0;
}

.review__button {
  margin: 0;
  padding: 18.5px 0 13.5px 0;
}

.review__button-wrap {
  padding: 0 20px;
  margin: 0 0 24px 0;
}


@media (min-width: $tablet-width) {
  .review__heading {
    border-top: unset;
    margin: 0 0 28px 0;
    display: block;
    font-size: 21px;
  }

  .review__button-wrap {
    max-width: 648px;
    margin: 0 auto 64px auto;
    padding: 0;
  }

  .review__button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .review__button {
    max-width: 324px;
    padding: 18px 60px 13px 50px;
  }

  .review__heading--line {
    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .review {
    max-width: 960px;
  }

  .review__button-wrap {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .review__button {
    max-width: 384px;
    padding: 17px 80px 15px 90px;
  }

  .review__button-wrapper {
    margin: 0 0 64px 0;
  }
}
