.userdata {
  margin: 0;
  padding: 0;
}

.userdata__list {
  list-style: none;
  padding: 0 20px;
  margin: 0 auto 39px auto;
  text-transform: uppercase;
}

.userdata__item {
  margin: 0 0 16px 0;

  &:last-child {
    margin: 0;
  }

  label {
    padding: 0 0 0 16px;
  }
}

.userdata__input {
  background-color: $light-background;
  border: none;
  width: 100%;
  height: 58px;
}

.userdata__input:hover {
  background-color: $disabled;
}

.userdata__wrap {
  display: flex;
  align-items: center;
}

.userdata__icon-wrap {
  background-color: $userdata-icon-bgc;
  padding: 17px 20px;
}

.userdata__icon {
  width: 18px;
  height: 18px;
}

.userdata__input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $placeholder-font;
  padding: 0 0 0 16px;
}

@media (min-width: $tablet-width) {
  .userdata-fieldset-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .userdata {
    min-width: 324px;
    margin: 0 0 48px 0;
    padding: 0 43px 0 0;
  }

  .userdata__list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .userdata__list--userdata {
    align-items: flex-start;
  }

  .userdata__list--contacts {
    align-items: flex-end;
  }

  .userdata__item {
    width: 100%;
  }

  .userdata-contacts {
    border-left: solid 1px $disabled;
    padding: 0 0 0 43px;
  }
}

@media (min-width: $desktop-width) {
  .userdata {
    min-width: 493px;
    padding: 0px 63px 0 0px;
    margin: 0 0 56px 0;
  }

  .userdata-contacts {
    min-width: 466px;
    padding: 0px 0px 0 63px;
  }
}
