.video {
  width: 100%;
  margin: 0 auto;
}

.video__picture {
  display: block;
}

.video__img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.video__wrap {
  position: relative;
  padding: 0 20px;
}

.video__icon {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
}

@media (min-width:$tablet-width) {
  .video__img {
    height: 500px;
  }

  .video__wrap {
    padding: 0;
  }

  .video__icon {
    left: 50%;
  }
}

@media (min-width:$desktop-width) {
  .video {
    max-width: 800px;
  }
}
