@font-face {
  font-family: "PT Sans";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/ptsans.woff"),
    url("../../fonts/ptsans.woff2");
}

@font-face {
  font-family: "PT Sans bold";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/ptsansbold.woff"),
    url("../../fonts/ptsansbold.woff2");
}
