$main-color: #81b3d2;
$main-color-hover: #669ec0;
$main-color-active: #5496BD;
$disabled: #E5E5E5;
$white: #ffffff;
$black: #000000;
$main-font: #333333;
$mark-font: rgba(51, 51, 51, 0.6);
$main-background: #eeeeee;
$light-background: #f2f2f2;
$placeholder-font: rgba(0, 0, 0, 0.3);
$dark-background: #eaeaea;
$userdata-icon-bgc: #e6e6e6;
$background-global: #E7E5E5;
$current-link: #766357;
$feature-border: #D6D6D6;
$review-line: #DBDBDB;
$filter-active: #D5D5D5;
